<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\Url\SecurityInfo">
		<arguments>
			<argument name="secureUrlList" xsi:type="array">
				<item name="voguepay" xsi:type="string">/voguepay/</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Checkout\Model\CompositeConfigProvider">
		<arguments>
			<argument name="configProviders" xsi:type="array">
				<item name="voguepay_standard_config_provider" xsi:type="object">Voguepay\Model\VoguepayConfigProvider</item>
			</argument>
		</arguments>
	</type>

</config>
